<html>
<body>
    <h1>New Project</h1>
    <ul id="photoList">
    </ul>
    <script>
        const xhr = new XMLHttpRequest();
        let response;
        xhr.open('GET', '/api/photo/list');
        xhr.addEventListener('load', function(e) {
            const list = JSON.parse(xhr.responseText);
            response = list
            console.log('response', response)

            const ul = document.getElementById('photoList');

            for(let i = 0; i < response.length; i++) {
                // dom作成
                let li = document.createElement('li')
                let img = document.createElement('img')
                // 属性付与
                img.setAttribute('src', response[i].dataUrl)
                console.log('atag', img)
                // dom追加
                li.appendChild(img);
                ul.appendChild(li);
            }
        });
        xhr.send();
    </script>
</body>
</html>
